/* Formulário de entrada */
.input-field {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Botão de envio */
.submit-button {
  background-color: #8b8b8b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Estilos da página inicial */
/* Geral */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/31/20/33/background-869578_960_720.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  width: 100%;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px;
  background-color: #000000;
  height: 100px;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Logotipo */
#logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#logo img.logo-img {
  width: 180px;
  height: auto;
  margin-left: 50px;
}

/* Menu */
#menu-toggle {
  display: none;
}

#menu {
  cursor: pointer;
}

#menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
  margin-right: 15px;
}

#menu button {
  background: none;
  border: none;
  padding: 0;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin: 0;
}

/* Links do menu */
#menu a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#menu a:hover {
  text-decoration: underline;
}

/* Novos estilos para links específicos */
#menu a#paginaInicial,
#menu a#cadastroLink,
#menu a#loginLink,
#menu a#menuLink {
  padding: 0;
  margin: 0;
  background: none;
}

#menu a#paginaInicial:hover,
#menu a#cadastroLink:hover,
#menu a#loginLink:hover,
#menu a#menuLink:hover {
  text-decoration: none;
}

#menu a#paginaInicial {
  padding: 0;
  margin: 0;
  background: none;
}

#menu a#paginaInicial.menu-link,
#menu a#cadastroLink.menu-link,
#menu a#loginLink.menu-link,
#menu a#menuLink.menu-link {
  text-decoration: none;
  color: white;
}

#menu a#paginaInicial.menu-link:hover,
#menu a#cadastroLink.menu-link:hover,
#menu a#loginLink.menu-link:hover,
#menu a#menuLink.menu-link:hover {
  text-decoration: none;
}

.menu-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 0;
  transition: color 0.3s ease;
}

/* Fim dos novos estilos do menu */

/* Outros elementos da página inicial */
#menu-toggle:hover {
  text-decoration: underline;
}

#menu-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#menu-right a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  display: inline-block;
}

#menu-right a.logout {
  font-family: 'Poppins', sans-serif;
}

#menu-right a#menu-toggle {
  display: none;
}

#menu-right a#cadastroLink,
#menu-right a#loginLink {
  display: inline-block;
}

#menu-right a#menuLink {
  display: none;
}

#menu-right.logged-in {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#bem-vindos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  height: calc(100vh - 100px);
  position: relative;
}

#bem-vindos div {
  margin: 0 20px;
}

#bem-vindos h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-bottom: 10px;
}

#bem-vindos h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 10px auto;
}

#bem-vindos p {
  font-size: 24px;
  margin-top: 20px;
}

#imagem-bem-vindos {
  max-width: 100%;
  height: 100%;
  margin-left: 20px;
  position: relative;
  flex: 1;
}

#imagem-bem-vindos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  filter: grayscale(0%) brightness(70%) contrast(120%);
}

#pagina-inicial h2 {
  font-size: 30px;
  font-weight: bold;
}

#pagina-inicial p,
#sobre-nos p {
  font-size: 20px;
  line-height: 1.5;
}

#sobre-nos h2 {
  font-size: 30px;
  font-weight: bold;
}

#pagina-inicial div,
#sobre-nos div {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
}

#pagina-inicial h2,
#pagina-inicial p,
#sobre-nos h2,
#sobre-nos p {
  margin: 0;
}

#pagina-inicial div::after,
#sobre-nos div::after {
  content: "";
  display: block;
  clear: both;
}

#pagina-inicial div img,
#sobre-nos div img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Seção geral */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Configuração do formulário de agendamento */
.form-container2 {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #585858;
}

#tabelaAgendamentos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabelaAgendamentos th,
#tabelaAgendamentos td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

#tabelaAgendamentos th {
  background-color: rgb(54, 54, 54); /*cor fundo tabela*/
  color: white;
}

#tabelaAgendamentos td.acao {
  white-space: nowrap;
}

#tabelaAgendamentos button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fffbfb; /*cor dos botoes remarcar e cancelar*/
}

#tabelaAgendamentos button i {
  font-size: 20px;
}

#agendamentos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0); 
}

#agendamentos-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#agendamentos-container p {
  font-size: 18px;
  margin: 0;
}

select {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

select option {
  font-family: 'Poppins', sans-serif;
}

input[type="date"] {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="date"] option {
  font-family: 'Poppins', sans-serif;
}

/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 15% auto;
  padding: 2%;
  border: 1px solid #0e0e0e;
  width: 20%;
}

.modal-content button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #313131;
  color: white;
}

/* Configuração do menu */
.form-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.agendamento-button {
  font-family: 'Poppins', sans-serif;
  background-color: #808080;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.agendamento-button:hover {
  background-color: #606060;
}

button {
  padding: 8px;
  background-color: #585858;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #585858;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #585e65;
  color: white;
}

.button:hover {
  background-color: #585858;
}

.button, .logout {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #585858;
  border-radius: 5px;
}

.logout:hover {
  background-color: #4a4a4a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #585858;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #3e3e3e;
}