.input-field {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilize o botão */
.submit-button {
  background-color: #8b8b8b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.escondido {
  display: none;
}

/* css da homepage */

body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/31/20/33/background-869578_960_720.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 0px;
  background-color: #000000;
  height: 100px;
  margin-top: 0;
  overflow-x: hidden;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  max-width: 15%;
  height: auto;
  margin-right: 10px;
}

/* header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #000000;
  height: 100px;
  margin-top: 0;
  width: 100%;
} */

/* #logo {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #logo img{
  max-width: 15%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
} */

#menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 200px;
  z-index: 1;
}

#menu a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

#menu-toggle {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

#menu-toggle:hover {
  text-decoration: underline;
}

#menu-right {
  display: flex;
  align-items: center;
}

#menu-right a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

#bem-vindos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  height: calc(100vh - 100px);
  position: relative;
}

#bem-vindos div {
  margin: 0 20px;
}

#bem-vindos h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-bottom: 10px;
}

#bem-vindos h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 10px auto;
}

#bem-vindos p {
  font-size: 24px;
  margin-top: 20px;
}

#imagem-bem-vindos {
  max-width: 100%;
  height: 100%;
  margin-left: 20px;
  position: relative;
  flex: 1;
}

#imagem-bem-vindos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: grayscale(0%) brightness(70%) contrast(120%);
}

#pagina-inicial h2 {
  font-size: 30px;
  font-weight: bold;
}

#pagina-inicial p {
  font-size: 20px;
}

#sobre-nos h2 {
  font-size: 30px;
  font-weight: bold;
}

#sobre-nos p {
  font-size: 20px;
}

#pagina-inicial div,
#sobre-nos div {
  border: 2px solid white;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

#pagina-inicial h2,
#pagina-inicial p,
#sobre-nos h2,
#sobre-nos p {
  margin: 0;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*config do form agendamento*/

.form-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#tabelaAgendamentos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabelaAgendamentos th,
#tabelaAgendamentos td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

#tabelaAgendamentos th {
  background-color: #4CAF50;
  color: white;
}

#tabelaAgendamentos td.acao {
  white-space: nowrap;
}

#tabelaAgendamentos button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #3498db;
}

#tabelaAgendamentos button i {
  font-size: 20px;
}

#agendamentos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#agendamentos-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#agendamentos-container p {
  font-size: 18px;
  margin: 0;
}

/* config menu */

.form-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #585858;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.button {
  background-color: #585e65;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.button, .logout {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
}

.form-container {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2980b9;
}